PORT=4000
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6InZpc2hhbCB2ZXJtYSIsImlhdCI6MTUxNjIzOTAyMn0._g9kOuH45nhoItqauDIvc3A8oXVasJRzdSYy1olhrU4
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwOTg3NjU0MzIxIiwibmFtZSI6InZpc2hhbCB2ZXJtYSIsImlhdCI6MTUxNjIzOTAyMn0.K-MVQeYv_eNiEB1N3mzLM-Xy1V0YmY32EkIIf7W5fpQ
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dcmyzubec
CLOUDINARY_API_KEY=425665472541651
CLOUDINARY_API_SECRET=W63ujAUbVW7d43VQJT_g4mQKrbg


MONGODB_URI=mongodb+srv://vishalverma04:Pinky8218@cluster0.g9vpoax.mongodb.net