
.container {
  margin : 4rem 0 ; 
  padding-top: 2.5rem ;
  padding-bottom : 2.5rem ; 
  display : flex ; 
  flex-direction: column;
  gap : 1.25rem ; 
  position : relative ; 
  width: 100%;
  border-radius: 0.125rem ;
  background: url('../../media/pexels-valeria-boltneva-1639562.jpg');
  font-family: 'Dosis', sans-serif;
}

.first-container {
  margin-left : 8rem ; 
  margin-right : 8rem ; 
  display : flex ; 
  flex-direction : column;
  gap : 0.75rem ; 
}

.first-container-text-1 {
  font-size : 0.875rem ; 
  line-height: 1.25rem ;
  text-align: left;
  color : white ; 
}

.first-container-text-2{
  font-weight: 600;
  text-align : left ; 
  font-size : 2.25rem ; 
  line-height: 2.5rem;
  color : white ; 
}

.form-container {
  background-color: white ;
  padding-top : 2rem ; 
  padding-bottom : 2rem ; 
  margin-left : 8rem ; 
  margin-right : 8rem ; 
  border-radius : 700 ; 
  display : flex ; 
  flex-direction: row ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap : 5rem ; 
  padding : 1rem ; 
}

.form-container-div-1 {
  display : flex ; 
  flex-direction : column ; 
  width : 18rem ; 
  text-align: left ;
  gap : 0.25rem ; 
}

.form-label-1 {
  color : #5a5a5a ; 
}

.form-input-1 {
  background-color: #e3e3e3;
  font-size: 0.75rem;
  line-height : 1rem ; 
  outline: none;
  border: none;
  border-radius : 9999px ; 
  padding-left : 1.25rem ; 
  padding-right : 1.25rem ; 
  padding : 0.5rem ; 
}

.form-container-div-2{
  display : flex ; 
  flex-direction : column ; 
  width : 18rem ; 
  text-align: left ;
  gap : 0.25rem ; 
}

.form-label-2 {
  color : #5a5a5a ;
}

.form-input-2 {
  background-color: #e3e3e3;
  outline: none;
  border : none ;
  border-radius: 9999px;
  padding-left : 1.25rem ; 
  padding-right : 1.25rem ;
  padding : 0.5rem ;  
  font-size : small ; 
  text-align: left ;
}

.form-input-2::placeholder{
  font-size: small;
}

.form-container-div-3{
  display : flex ; 
  flex-direction: column;
  width : 18rem ; 
  text-align: left;
  gap : 0.25rem ; 
}

.form-label-3 {
  color : #5a5a5a ;
}

.form-input-3 {
  padding : 0.5rem ; 
  background-color: #e3e3e3;
  outline : none ; 
  border : none ; 
  border-radius: 9999px;
  padding-left : 1.25rem ; 
  padding-right : 1.25rem ; 
  font-size : x-small ; 
}

/* .btn {
  border-radius: 9999px;
  background-color: #adadad;
  padding-left : 3rem ;
  padding-right : 3rem ; 
  padding-top : 0.5rem ; 
  padding-bottom : 0.5rem ; 
  width: max-content;
  align-items: center;
  position : absolute ; 
  bottom : 0 ; 
  transform: translateY(1/2);
} */

@media screen and (min-width:768px){
  .form-container{
    margin-left : 4rem ; 
    margin-right : 4rem ; 
    gap : 1rem ; 
  }
}

@media screen and (min-width:768px){
  .first-container{
    margin-left : 4rem ;  
    margin-right : 4rem ; 
  }
}

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .btn {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #adadad 0%, #272727 100%);
    box-shadow: 0 20px 30px -6px rgba(78, 78, 78, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }