
.container-account{
    background: url("../../media/pexels-tahir-osman-18053574.jpg");
}
.card-account {
    position: relative;
    color : white ; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card-account::before,
  .card-account::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(81, 81, 81);
    transition: all 0.5s;
  }
  
  .card-account::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card-account::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card-account:hover::before,
  .card-account:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card-account:hover:after {
    content: "₹12,000";
  }

  .card2-account:hover:after{
    content : "₹5,324";
  }


  .center-div-account {
    display : flex ; 
    width : 100% ; 
    gap : 10px ; 
    padding : 10px ; 
  }

  .left-div-account, .right-div-account {
    width : 100% ; 
    padding : 80px ; 
  }

  .select-text-account {
    text-align: left;
  }

  .select-input-account {
    text-align: left ; 
  }

  .heading-account {
    font-size: 40px;
    padding-top : 50px ; 
  }
  .middle-div-account {
    display : flex ; 
    flex-direction : row ; 
    padding : 10px ; 
    gap : 10px;   
  }

  .middle-child-account {
    background-color: white ;
    color : black ;
    border-radius : 10px ;  
    width : 100% ; 
    padding : 20px ; 
  }

  .select-input-account {
    padding : 10px ; 
    border-radius : 5px;
    width : 10% ; 
  }